nav {
    display: flex;
    align-items: center;
    gap: 100px;
    background-color: #0f1111;
    height: 60px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

.content {
    min-height: 400px;
    padding: 30px;
}

article {
    padding: 10px;
}

table {
    margin-top: 10px;
}

td, th {
    padding: 5px;
}

footer {
    padding: 20px;
    background-color: #0f1111;
    color: white;
    text-align: center;
}

main {
    padding: 10px;
}

aside {
    padding: 10px;
}
